@import 'sass-bootstrap/lib/bootstrap';

$sideBarWidth: 240px;

html {
  height: 100%;
}

body {
  height: calc(100% - 40px);
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

#map {
  height: 100%;
  width: auto;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.sidebar-nav {
  padding: 0px 0;
  height: 100%;
}

.row-fluid > .sidebar-nav {
  position: relative;
  top: 0;
  left: auto;
  width: 220px;
  height: 100%;
}

.container-fluid {
  height: 100%;
}

.sidebar-nav > .nav-list {
  height: 100%;
  padding-top: 7px;
}

.row-fluid {
  height: 100%;
}

.row-fluid > .sidebar-nav {
  position: relative;
  top: 0;
  left:auto;
  width: 220px;
  height: 100%;
}

.left {
  float:left;
  height: 100%;
}

.right {
  float:right;
  height: 100%;
}

.fixed-fluid {
  margin-left: $sideBarWidth;
  height: 100%;
}

.fluid-fixed {
  margin-right: $sideBarWidth;
  height: 100%;
}

.fixed-fixed {
  margin-left: $sideBarWidth;
  height: 100%;
}
